<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>评论-闲言轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../res/layui/css/layui.css">
	<link rel="stylesheet" href="../res/static/css/mian.css">
</head>
<body class="lay-blog">
		<div class="header">
			<div class="header-wrap">
				<h1 class="logo pull-left">
					<a href="index">
						<img src="../res/static/images/logo.png" alt="" class="logo-img">
						<img src="../res/static/images/logo-text.png" alt="" class="logo-text">
					</a>
				</h1>
				<form class="layui-form blog-seach pull-left" action="">
					<div class="layui-form-item blog-sewrap">
					    <div class="layui-input-block blog-sebox">
					      <i class="layui-icon layui-icon-search"></i>
					      <input type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
					    </div>
					</div>
				</form>
				<div class="blog-nav pull-right">
					<ul class="layui-nav pull-left">
					  <li class="layui-nav-item layui-this"><a href="index.html">首页</a></li>
					  <li class="layui-nav-item"><a href="message.html">留言</a></li>
					  <li class="layui-nav-item"><a href="about.html">关于</a></li>
					</ul>
					<a href="#" class="personal pull-left">
						<i class="layui-icon layui-icon-username"></i>
					</a>
				</div>
				<div class="mobile-nav pull-right" id="mobile-nav">
					<a href="javascript:;">
						<i class="layui-icon layui-icon-more"></i>
					</a>
				</div>
			</div>
			<ul class="pop-nav" id="pop-nav">
				<li><a href="index.html">首页</a></li>
				<li><a href="message.html">留言</a></li>
				<li><a href="about.html">关于</a></li>
			</ul>
		</div>
		<div class="container-wrap">
			<div class="container container-message container-details container-comment">
					<div class="contar-wrap">
						<div id="comment">
						</div>
						<div class="item">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h3>{{comment_title}}</h3>
								<h5>发布于：<span>{{comment_time}}</span></h5>
								<p>{{comment_content}}</p>
								<img src="../res/static/images/item.png" 
								 alt="帅哥">
								<div class="count layui-clear">
									<span class="pull-left">阅读 <em>{{comment_see}}+</em></span>
									<span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>{{comment_like}}</em></span>
								</div>
							</div>
						</div>	
						<form class="layui-form" action="">
							<div class="layui-form-item layui-form-text">
								<textarea  class="layui-textarea" id="myText" style="resize:none" placeholder="写点什么啊"></textarea>
							</div>
							<div class="btnbox">
									<!-- <a  href="details" id="sure" onclick="comment(this)">
							  		确定
							  	</a> -->
							  	<a  id="sure" onclick="comment(this)">
							  		确定
							  	</a>
							</div>
						</form>
					</div>
			</div>
		</div>
		<div class="footer">
			<p>
				<span>&copy; 2018</span>
				<span><a href="http://www.layui.com" target="_blank">layui.com</a></span> 
				<span>MIT license</span>
			</p>
			<p><span>人生就是一场修行</span></p>
		</div>
	<script src="../res/layui/layui.js">
	</script>
	<script src="../res/static/js/jquery-1.9.0.min.js"></script>
	<script>
		layui.config({
		  base: '../res/static/js/' 
		}).use('blog');
		function comment(dom){
			// var text=$(dom).siblings("input[type='text']").val();//获取它的值
			var x = document.getElementById("myText").value;
			var ct_id={{ct_id}}
			// console.log(id)
     	 $.ajax({ 
	        url: "comment_add"//layui.setter.base + 'json/user/reg.js' //实际使用请改成服务端真实接口
	        ,type:"POST"
	        ,data: {content:x,id:ct_id}
	        ,dataType:"json",
	        success: function(res){        
	          layer.msg('添加成功', {
	          icon: 6
	          ,time: 1000
	    	  })
              window.location.href = 'details?id={{ct_id}}';
	        },
	        error: function(res){
	          layer.msg('添加失败', {
	          icon: 6
	          ,time: 1000
	    	  })
	        }
	      });
     	}
	      // parent.layui.table.reload('LAY-app-content-list'); //重载表格
	      // parent.layer.close(index); //再执行关闭 
		
	</script>
<!-- 	<script id="LAY-msg-tpl" type="text/html">
		<div class="info-box">
			<div class="info-item">
				<img class="info-img" src="{{ d_avatar }}" alt="">
			  <div class="info-text">
					<p class="title">
					  <span class="name">{{ d_username }}</span>
					  <span class="info-img">
					  	<i class="layui-icon layui-icon-praise"></i>
					  	{{ d_praise }}
					 	</span>
					</p>
					<p class="info-intr">
						{{ d_content }}
					</p>
			  </div>
			</div>
		</div>
	</script> -->
</body>
</html>