<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>闲言轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../layuiadmin/res/layui/css/layui.css">
	<link rel="stylesheet" href="../layuiadmin/res/static/css/mian.css">
</head>
<body class="lay-blog">
		<div class="header">
			<div class="header-wrap">
				<h1 class="logo pull-left">
					<a href="index">
						<img src="../layuiadmin/res/static/images/logo.png" alt="" class="logo-img">
						<img src="../layuiadmin/res/static/images/logo-text.png" alt="" class="logo-text">
					</a>
				</h1>
				<form class="layui-form blog-seach pull-left" action="">
					<div class="layui-form-item blog-sewrap">
					    <div class="layui-input-block blog-sebox">
					      <i class="layui-icon layui-icon-search"></i>
					      <input type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
					    </div>
					</div>
				</form>
				<div class="blog-nav pull-right">
					<ul class="layui-nav pull-left">
					  <li class="layui-nav-item layui-this"><a href="index">首页</a></li>
					  <li class="layui-nav-item"><a href="message">留言</a></li>
					  <li class="layui-nav-item"><a href="about">关于</a></li>
					</ul>
					<a href="app_list" class="personal pull-left">
						<i class="layui-icon layui-icon-username" onclick="javascript:comment()"></i>
					</a>
				</div>
				<div class="mobile-nav pull-right" id="mobile-nav">
					<a href="javascript:;">
						<i class="layui-icon layui-icon-more"></i>
					</a>
				</div>
			</div>
			<ul class="pop-nav" id="pop-nav">
				<li><a href="index">首页</a></li>
				<li><a href="message">留言</a></li>
				<li><a href="about">关于</a></li>
			</ul>
		</div>
		<div class="container-wrap">
			<div class="container">
					<div class="contar-wrap">
						<h4 class="item-title">
							<p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到我的轻博客</span></p>
						</h4>
						<div id="content_id">
						</div>
					</div>
					<div class="item-btn">
						<button class="layui-btn layui-btn-normal" onclick="javascript:button_onclick()">下一页</button>
					</div>
			</div>
		</div>
		<div class="footer">
			<p>
				<span>&copy; 2018</span>
				<span><a href="http://www.layui.com" target="_blank">layui.com</a></span> 
				<span>MIT license</span>
			</p>
			<p><span>人生就是一场修行</span></p>
		</div>
	<script src="../layuiadmin/res/layui/layui.js"></script>
	<script src="../layuiadmin/res/static/js/jquery-1.9.0.min.js"></script>
<!-- 	<script>
		function comment(){
			console.log(data.data.state)
			if(data.data.state!=1){
            layer.msg('没有权限', {
                  icon: 6
                  ,time: 1000
              })
              }
          	else {
            function(){
            location.href = '../app_list'; //后台主页
              }
			}
		}
	</script> -->
	<script>
		layui.config({
		  base: '../layuiadmin/res/static/js/' 
		}).use('blog');
		var Singleton = function(){
		this.index = 0;
		};

		Singleton.prototype.getIndex = function(){
		　　 this.index+=1
			return this.index
		};

		Singleton.getInstance = (function(){ 
		　　var instance = null;

		　　return function(){
		　　　　　　　　　　if ( !instance ){
		　　　　　　　　　　　　instance = new Singleton();
		　　　　　　　　　　}
		　　　　　　　　return instance;
		　　　　　　 }
		})();
		button_onclick()
		// fabulous_query()
	// 	function fabulous(item_id){
	// 	// $(function () {
	//  //    	$(".like").on('click',function () {
	//  //      		// console.log("asdf")

	//       $.ajax({ 
	//         url: "http://127.0.0.1:8080/fabulous"//layui.setter.base + 'json/user/reg.js' //实际使用请改成服务端真实接口
	//         ,type:"get"
	//         ,data: {id:item_id}
	//         ,
	//         });
	//     	if(!($(this).hasClass("layblog-this"))){
	//         this.text = '已赞';
	//         $(this).addClass('layblog-this');
	//         $.tipsBox({
	//           obj: $(this),
	//           str: "+1",
	//           callback: function () {
	//           }
	//         });
	//         niceIn($(this));
	//         layer.msg('点赞成功', {
	//           icon: 6
	//           ,time: 1000
 //        	})
 //      		} 
	// }
	   //  	});
  		// });
  // 		function fabulous_query(item_id){
		// $.ajax({ 
  //       url: "fabulous_query"//layui.setter.base + 'json/user/reg.js' //实际使用请改成服务端真实接口
  //       ,type:"POST"
  //       ,data: {id:item_id}
  //       ,dataType:"json",
  //       success: function (data) {
  //       	console.log(item_id)
  //       	if(data.data.state!=1){
  //       		document.getElementById("color"+item_id).style="color:#FF0000";
  // 			}
  // 		}
  // 		})
		// }
  		function fabulous(item_id){
		// console.log("dadafw")
		$.ajax({ 
        url: "index"//layui.setter.base + 'json/user/reg.js' //实际使用请改成服务端真实接口
        ,type:"POST"
        ,data: {id:item_id}
        ,dataType:"json",
        success: function (data) {
        	// console.log(data.data.state)
        	if(data.data.state!=1){
        		document.getElementById("color"+item_id).style="color:#FF0000";
			layer.msg('点赞成功', {
	          icon: 6
	          ,time: 1000
	    	})
	   		}
			else {
			layer.msg('已经点过赞了', {
	          icon: 6
	          ,time: 1000
	    	})
        	}
        }
        });
		}
		function button_onclick(){
		$.ajax({
        url: "http://127.0.0.1:8080/xianyan_dispaly",
        type: "POST",
        data: {page:Singleton.getInstance().getIndex()},
        dataType: "json",
        success: function (data) {
			var html='';
			$.each(data.data,function(index, item){
				// console.log("fkjhk",item);
				html+="<div class='item'>"+
					"<div class='item-box  layer-photos-demo1 layer-photos-demo'>"+
										"<h3><a href='http://127.0.0.1:8080/details?id="+item.id+"'>"+item.title+"</a></h3>"+
										"<h5>发布于：<span>"+item.create_time+"</span></h5>"+
										"<p>"+item.content+"</p>"+
										// "<img src='../layuiadmin/res/static/images/item.png' alt=''>"+
									"</div>"+
									"<div class='comment count'>"+
										"<a href='http://127.0.0.1:8080/details?id="+item.id+"#comment'>评论</a>"+
										"<a href='javascript:;' id='color"+item.id+"' onclick='javascript:fabulous("+item.id+")'>点赞</a>"+
									"</div>"+
								"</div>";

			});
			// $('.container-wrap .contar-wrap').empty () ;
			// $('.container-wrap .contar-wrap').replaceWith(html,function(index) {}) ;
			document.getElementById("content_id").innerHTML=html ;
			$.each(data.data,function(index, like){
				// console.log(like.is_like)
				if (like.is_like==1){
					document.getElementById("color"+like.id).style="color:#FF0000";
				}
			})
			// $('.container-wrap .contar-wrap').after (html) ;
        }
		})
		}
	</script>
</body>
</html>