<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>评论-zhddong轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../layuiadmin/res/layui/css/layui.css">
	<link rel="stylesheet" href="../layuiadmin/res/static/css/mian.css">
</head>
<script src="../layuiadmin/res/static/js/like.js"></script>
<body class="lay-blog">
		<div class="header">

			<div class="header-wrap">
				<h1 class="logo pull-left">
					<a href="index">
						<img src="../layuiadmin/res/static/images/logo.png" alt="" class="logo-img">
						<img src="../layuiadmin/res/static/images/logo-text.png" alt="" class="logo-text">
					</a>
				</h1>
				<form class="layui-form blog-seach pull-left" action="">
					<div class="layui-form-item blog-sewrap">
					    <div class="layui-input-block blog-sebox">
					      <i class="layui-icon layui-icon-search"></i>
					      <input type="text" name="title" lay-verify="title" autocomplete="off"  class="layui-input">
					    </div>
					</div>
				</form>
				<div class="blog-nav pull-right">
					<ul class="layui-nav pull-left">
					  <li class="layui-nav-item layui-this"><a href="index">首页</a></li>
					  <li class="layui-nav-item"><a href="message">留言</a></li>
					  <li class="layui-nav-item"><a href="about">关于</a></li>
					</ul>
					<a href="app_list" class="personal pull-left">
						<i class="layui-icon layui-icon-username"></i>
					</a>
				</div>
				<div class="mobile-nav pull-right" id="mobile-nav">
					<a href="javascript:;">
						<i class="layui-icon layui-icon-more"></i>
					</a>
				</div>
			</div>
			<ul class="pop-nav" id="pop-nav">
				<li><a href="index">首页</a></li>
				<li><a href="message">留言</a></li>
				<li><a href="about">关于</a></li>
			</ul>
		</div>
		<div class="container-wrap">
			<div class="container container-message container-details">
					<div class="contar-wrap">
						<!-- <div class="item">
							<div class="item-box  layer-photos-demo1 layer-photos-demo">
								<h3><a>{{ct_title}}</a></h3>
								<h5>发布于：<span>{{ct_time}}</span></h5> -->
							<!-- 	<div id="id_ct_dfd34dfdcontent">
									{{ct_content}}
								</div> -->
								
								<!-- <img src="../layuiadmin/res/static/images/item.png" alt=""> -->
								<!-- <div class="count layui-clear">
									<span class="pull-left">阅读 <em>{{ct_read}}+</em></span>
									<span class="pull-right "><i class="layui-icon layui-icon-praise" onclick='javascript:fabulous({{ct_id}})'></i><em>{{ct_like}}</em></span>
								</div>
							</div>
						</div>	 -->
						<div id="LAY-msg-boxs">
									
						</div>
						<a name="comment"> </a>
						<div class="comt layui-clear">
							<a href="javascript:;" class="pull-left">评论</a>
							<a href="comment_add?id={{ ct_id }}" class="pull-right">写评论</a>
						</div>
						<div id="LAY-msg-box">
									
						</div>
						<div class="item-btn">
						<button class="layui-btn layui-btn-normal" onclick="javascript:button_onclick()">下一页</button>
					</div>
					</div>
			</div>
		</div>
		<div class="footer">
			<p>
				<span>&copy; 2018</span>
				<span><a href="http://www.layui.com" target="_blank">layui.com</a></span> 
				<span>MIT license</span>
			</p>
			<p><span>人生就是一场修行</span></p>
		</div>
	<script src="../layuiadmin/res/layui/layui.js">

	</script>
	<script src="../layuiadmin/res/static/js/jquery-1.9.0.min.js"></script>
	<script>
		layui.config({
		  base: '../layuiadmin/res/static/js/' 
		}).use('blog');
		var Singleton = function(){
		this.index = 0;
		};

		Singleton.prototype.getIndex = function(){
		　　 this.index+=1
			return this.index
		};

		Singleton.getInstance = (function(){ 
		　　var instance = null;

		　　return function(){
		　　　　　　　　　　if ( !instance ){
		　　　　　　　　　　　　instance = new Singleton();
		　　　　　　　　　　}
		　　　　　　　　return instance;
		　　　　　　 }
		})();
		var ct_id={{ct_id}};
		content_markdown()
		function content_markdown(){
		$.ajax({ 
        url: "details_article"
        ,type:"POST"
        ,data: {id:ct_id}
        ,dataType:"json"
        ,success: function(data){
        	var html='';
			$.each(data.data,function(index, item){
				html+="<div class='item'>"+
					"<div class='item-box  layer-photos-demo1 layer-photos-demo'>"+
										"<h3><a href='http://127.0.0.1:8080/details?id="+item.id+"'>"+item.title+"</a></h3>"+
										"<h5>发布于：<span>"+item.create_time+"</span></h5>"+
										"<p class='info-intr'>"+item.content+"</p>"+
									"</div>"+
									"<div class='comment count'>"+
										"<span class='pull-left'>阅读 <em>"+item.read+"</em></span>"+
										"<span class='pull-right'><i class='layui-icon layui-icon-praise'></i><em>"+item.like+"</em></span>"+
									"</div>"+
								"</div>";

			});
			document.getElementById("LAY-msg-boxs").innerHTML=html ;
    	}	
		})
		}
		button_onclick()
		function button_onclick(){
		$.ajax({ 
        url: "details"
        ,type:"POST"
        ,data: {id:ct_id,page:Singleton.getInstance().getIndex()}
        ,dataType:"json"
        ,success: function(data){
        	var html='';
			$.each(data.data,function(index, item){
				html+="<div class='item'>"+
					"<div class='info-item'>"+
								"<img class='info-img' src='../layuiadmin/res/static/images/info-img.png' alt=''>"+
								"<div class='info-text'>"+
									"<p class='title count'>"+
										"<span class='name'>"+item.name+"</span>"+
										"<span class='info-img like'><i class='layui-icon layui-icon-praise'></i>"+item.like+"</span>"+
									"</p>"+
									"<p class='info-intr'>"+item.content+"</p>"+
								"</div>"+
					"</div>"
			});
			document.getElementById("LAY-msg-box").innerHTML=html ;
        }
	    })
		}
	</script>
</body>
</html>